@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";

.skillArea {
  @include itemColStyle();
  text-align: left !important;

  a {
    @include aStyle();
    transition: all 0.4s ease-in-out 0s;
    display: flex;
    height: 100%;

    .skill {
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      position: relative;
      z-index: 2;
      border-radius: 10px;
      padding: 60px 45px;
      margin-top: 30px;
      background: #191919;

      center {
        display: block;
        text-align: -webkit-center;

        .icon {
          transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          font-size: 54px;
          font-weight: 400;
          margin-bottom: 23px;
          display: inline-flex;

          img {
            width: 48px;
            height: 48px;
            vertical-align: middle;
            overflow: hidden;
            stroke-width: 1 !important;
          }
        }

        .content {
          h3 {
            @include h3Style(19px, 24px);
          }

          p {
            @include pStyle(15px, 18px, rgba(198, 201, 216, 0.75));
            transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }
    }
  }
}

