.skill{
    width: 300px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    min-height: 200px;
    text-align: center;
}

.image img{
    height: 80px;
    width: 80px;
}