.skillsBlock {
    background-color: rgba(234,61,144,0.29);
    height: 100vh;
}

.container {
    height: 100%;
    width: 80%;
    margin: 0 auto;
}

.header {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.body{
    height: 80%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}