@import "../../common/styles/sass/variables";
@import "../../common/styles/sass/mixins";

.skillsBlock {
  min-height: 100vh;
  max-width: 100%;
  overflow: hidden;
  background-color: $bgSecondColor;

  .body {
    @include itemsBody();

    @include itemsTitle();

    @media screen and (max-width: 754px) {
      justify-content: center;
    }
  }
}

