@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";

.home {
  overflow: hidden;

  .sliderWrapper {
    .personalPortfolioSlider {
      display: flex !important;
      justify-content: center !important;
      align-items: center !important;
      background-color: #101010;
      background-image: url(../../assets/images/intro3.jpeg) !important;
      background-position: center center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 70vh;
      @include bluredBgImage();
      position: relative;

      .container {
        @include containerStyle();

        .row {
          @include rowStyle(-15px, -15px);

          .col {
            @include colStyle(15px, 15px, 992px, 100%, 100%);

            .inner {
              padding-top: 100px;
              text-align: left !important;

              h1 {
                display: block;
                margin-block-start: 0.67em;
                margin-block-end: 0.67em;
                margin-inline-start: 0;
                margin-inline-end: 0;
                margin: 0 0 15px 0;
                font-size: 75px;
                font-weight: 900;
                font-family: 'Montserrat', sans-serif;
                line-height: 90px;
                text-transform: inherit;
                width: 70%;
                color: #ffffff;
              }

              h2{
                @include h2Style(15px, 54px);
              }

              span {
                color: rgba(198, 201, 216, 0.75);
                font-size: 15px;
                text-transform: uppercase;
                letter-spacing: 4px;
                display: block;
                margin-bottom: 20px;
              }
            }
          }
        }
      }
    }
  }
}