@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";

.container {
  height: 100vh;
  @include bluredBgImage();

  .particles{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: black;
    opacity: 0.3;
  }

  .header {
    min-height: 80px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;

    .nav {
      justify-content: flex-end;
      width: 500px;
      align-self: center;
    }
  }
}


