@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";

.container {
  height: 100vh;
  @include bgImage();

  &:before {
    @include bluredBgImage();
  }

  .header {
    height: 80px;
    position: relative;

    .nav {
      height: 100%;
      width: 80%;
      margin: 0 auto;
      display: flex;
      justify-content: flex-end;
      align-items: center;
      a{
        @include text(("Raleway", sans-serif), 14px, 2em, #fff);
        letter-spacing: 2px;
        text-transform: uppercase;
      }
    }
  }
}


