.header{
    height: 80px;
    background-color: cornflowerblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    height: 100%;
    width: 80%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}