@import "./src/common/styles/sass/mixins";
@import "./src/common/styles/sass/variables";

.container {
  height: 100vh;
  @include bluredBgImage();

  .header {
    min-height: 80px;
    position: relative;
    display: flex;
    justify-content: flex-end;
    width: 80%;
    margin: 0 auto;

    .nav {
      justify-content: flex-end;
      width: 500px;
      align-self: center;
    }
  }
}


