@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.footerArea {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  position: relative;
  z-index: 1;
  padding: 30px 0;
  background-image: inherit !important;

  .wrapper {
    padding: 0 50px;
    position: relative;
    z-index: 1;

    .row {
      @include rowStyle(-15px, -15px);
      flex-direction: column;
      align-items: center;

      .col {
        @include colStyle(15px, 15px, 567px, 50%, 50%);

        .icons {
          text-align: center !important;
          margin-bottom: 10px;
          a{
            margin: 0 10px;
            img {
              border: 0;
              vertical-align: middle;
              max-width: 100%;
              height: 40px;
            }
          }
        }

        .text {
          text-align: center !important;
          p {
            @include pStyle(0, 14px, #c6c9d8);
            opacity: 0.75;
          }
        }
      }
    }
  }
}

