@mixin bluredBgImage() {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  position: relative;
  &:before {
    position: absolute;
    content: '';
    background-color: black;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    opacity: 0.6;
  }
}

@mixin containerStyle() {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;

  @media (min-width: 576px) {
    max-width: 540px;
  }

  @media (min-width: 768px) {
    max-width: 720px;
  }

  @media (min-width: 992px) {
    max-width: 960px;
  }

  @media (min-width: 1200px) {
    max-width: 1140px;
  }

  @media (min-width: 1200px) {
    max-width: 1260px;
  }
}

@mixin rowStyle($marginLeft, $marginRight) {
  display: flex;
  flex-wrap: wrap;
  margin-left: $marginLeft;
  margin-right: $marginRight;
}

@mixin colStyle($paddingLeft, $paddingRight, $minWidth, $flex, $maxWidth) {
  position: relative;
  width: 100%;
  @media (min-width: $minWidth) {
    flex: 0 0 $flex;
    max-width: $maxWidth;
  }
  padding-left: $paddingLeft;
  padding-right: $paddingRight;
}

@mixin h2Style($marginBottom, $fontSize) {
  display: block;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0 0 $marginBottom 0;
  font-family: "Poppins", sans-serif;
  line-height: 1.4074;
  font-weight: 700;
  color: #ffffff;
  font-size: $fontSize;
}

@mixin h3Style($marginBottom, $fontSize){
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0 0 $marginBottom 0;
  font-family: "Poppins",sans-serif;
  line-height: 1.4074;
  font-size: $fontSize;
  transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
  font-weight: 500;
  color: #ffffff;
}

@mixin h4Style($marginBottom, $fontSize){
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0 0 $marginBottom 0;
  font-family: "Poppins",sans-serif;
  font-weight: 600;
  color: #ffffff;
  font-size: $fontSize;
  line-height: 36px;
}

@mixin pStyle($marginBottom, $fontSize, $color){
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  margin: 0 0 $marginBottom 0;
  font-size: $fontSize;
  line-height: 30px;
  color: $color;
}

@mixin aStyle(){
  &:-webkit-any-link {
    color: #ffffff;
    cursor: pointer;
  }
  background-color: transparent;
  text-decoration: none;
  color: #ffffff;
}

@mixin ulStyle($displayType, $marginLeftRight) {
  display: $displayType;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0;
  margin-inline-end: 0;
  padding-inline-start: 40px;
  padding: 0;
  list-style: none;
  margin: 0 $marginLeftRight;
}

@mixin itemColStyle() {
  @include colStyle(15px, 15px, 576px, 50%, 50%);

  @media (min-width: 768px) {
    flex: 0 0 50%;
    max-width: 50%;
  }
  @media (min-width: 992px) {
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
  }
}

@mixin inputStyle($height, $verticalAlign, $overflow){
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  word-spacing: normal;
  text-transform: none;
  text-indent: 0;
  text-shadow: none;
  text-align: start;
  appearance: auto;
  -webkit-rtl-ordering: logical;
  cursor: text;
  overflow: $overflow;
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  margin: 0 0 20px 0;
  max-width: 100%;
  vertical-align: $verticalAlign;
  background: transparent;
  display: block;
  width: 100%;
  padding: 0 20px;
  border-radius: 5px;
  transition: all 0.3s ease;
  height: $height;
  line-height: 46px;
  outline: none;
  color: #1f1f25;
  font-size: 15px;
  letter-spacing: 0.1px;
  border: 2px solid rgba(255,255,255,0.2);
  color: rgba(198,201,216,0.75);
}
