@mixin text($fontFamily, $fontSize, $lineHeight, $textColor) {
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
  color: $textColor;
}

@mixin itemsTitle() {
  h4 {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 2px;
    text-transform: uppercase;
    line-height: 1.5em;
  }
}

@mixin itemsBody() {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;
  row-gap: 40px;
  padding-bottom: 40px;
}

@mixin cornersForBody() {
  &:before, &:after {
    position: absolute;
    content: '';
    height: 10px;
    width: 10px;
    border-color: #000000;
    border-width: 0;
    border-style: solid;
  }
  &:before {
    bottom: 0;
    left: 0;
    border-bottom-width: 1px;
    border-left-width: 1px;
  }
  &:after {
    bottom: 0;
    right: 0;
    border-bottom-width: 1px;
    border-right-width: 1px;
  }

  .wrap {
    &:before, &:after {
      position: absolute;
      content: '';
      height: 10px;
      width: 10px;
      border-color: #000000;
      border-width: 0;
      border-style: solid;
    }

    &:before {
      top: 0;
      left: 0;
      border-top-width: 1px;
      border-left-width: 1px;
    }

    &:after {
      top: 0;
      right: 0;
      border-top-width: 1px;
      border-right-width: 1px;
    }
  }
}

@mixin button(){
  padding: 15px 30px;
  @include text("Montserrat", 10px, 1.42857, white);
  text-transform: uppercase;
  letter-spacing: 2px;
  overflow: hidden;
  border: 1px solid white;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background: transparent;
  cursor: pointer;
}

@mixin inputsParams(){
  margin: 0;
  background: transparent;
  border: none;
  padding: .5em 1em .2em;
  text-transform: uppercase;
  cursor: text;
  outline: none;
  color: white;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  letter-spacing: 2px;
}