@import "./src/common/styles/sass/variables";
@import "./src/common/styles/sass/mixins";

.nav {
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 600px) {
    display: block;
    text-align: center;
  }

  .navItem {
    a {
      text-decoration: none;
      @include text(("Raleway", sans-serif), 14px, 2em, #fff);
      letter-spacing: 2px;
      text-transform: uppercase;
    }
  }
}